streamlit>=1.35.0
numpy==1.26.4
opencv-python-headless==4.5.5.64
Pillow==10.3.0
ultralytics==8.4.91
torch==2.1.2
torchvision==0.15.2
streamlit-webrtc==0.47.7
fpdf==1.7.2
gdown==5.2.0
psycopg2-binary==2.9.9
bcrypt==4.1.3
