streamlit>=1.35.0
Pillow
fpdf
gdown
psycopg2-binary
bcrypt

numpy==1.26.4
opencv-python-headless==4.9.0.80

torch==2.1.2
torchvision==0.16.2

ultralytics
onnxruntime
streamlit-webrtc>=0.47.0
